# Virtual Environment
venv/
.venv/

# Mesh Metrics Software
mesh-metrics/

# meshcore-packet-capture
meshcore-packet-capture/

# PowerPoint Recovery Files
~$*

# pycache
__pycache__

# env file
.env


